input.ng-touched.ng-invalid {
    border: 2px solid red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
  }
  input.ng-valid {
    border: 2px solid rgb(0, 255, 55)ed;
    box-shadow: 0 0 10px rgb(0, 255, 55);
  }
  